.one {
    background-color: rgb(233, 220, 220);
}

.two {
    background-color: rgb(204, 230, 202);
}

.three {
    background-color: rgb(233, 200, 223);
}

.four {
    background-color: rgb(245, 213, 213);
}

.five {
    background-color: rgb(228, 245, 255);
}